<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Místnosti - Detail</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>

<div class="navigation">
    <a class="logo" href="/">IntelliHouse</a>
    <ul>
        <li><a href="/rooms" class="selectedCard">Místnosti</a></li>
        <li><a href="/statistics">Statistiky</a></li>
    </ul>
</div>

<div class="aside">
    <ul class="rooms">
        <% for (room of rooms) { %>
            <% if (room._id.equals(selectedRoom._id)) { %>
                <li><a class="selectedRoom"><%= room.name %></a></li>
            <% } else { %>
                <li><a href="/rooms/<%= room._id %>"><%= room.name %></a></li>
            <% } %>
        <% } %>
    </ul>

    <ul class="buttons">
        <li><a id="addRoom" title="Vytvořit místnost">+</a></li>
        <li><a id="delRoom" title="Smazat místnost">-</a></li>
    </ul>
</div>

<div class="details">
    <h2><%= selectedRoom.name %></h2> 

    <p>
        <span class="width-fifty">Teplota:</span>
        <span id="temp"><%= thermostat.currentTemp %></span>° C
    </p>
    <p>
        <span class="width-fifty">Spotřeba:</span> 
        <span id="consumption">
            <%= light.consumption + thermostat.consumption%>
        </span> Wh
    </p>
    <div>
        <span class="width-fifty">Světlo:</span>
        <% if (light.isOn) { %>
            <button class="radioBtn active" id="lightsOn" type="button">Zapnuto</button>
            <button class="radioBtn" id="lightsOff" type="button">Vypnuto</button>
        <% } else { %>
            <button class="radioBtn" id="lightsOn" type="button">Zapnuto</button>
            <button class="radioBtn active" id="lightsOff" type="button">Vypnuto</button>
        <% } %>
    </div>
    <div>
        <span class="width-fifty">Termostat:</span>
        <% if (thermostat.isOn) { %>
            <button class="radioBtn active" id="heatingOn" type="button">Zapnuto</button>
            <button class="radioBtn" id="heatingOff" type="button">Vypnuto</button>
        <% } else { %>
            <button class="radioBtn" id="heatingOn" type="button">Zapnuto</button>
            <button class="radioBtn active" id="heatingOff" type="button">Vypnuto</button>
        <% } %>

    </div>
    <% if (thermostat.isOn) { %> 
    <div id="heating">
    <% } else { %>
    <div id="heating" class="invisible">
    <% } %>  
        <span class="width-fifty"></span>
        <span id="heatingTemp"><%= thermostat.heatingTemp %></span>° C

        <span class="width-fifty"></span>
        <input id="heatingSlider" type="range" min="5" max="30" value="<%= thermostat.heatingTemp %>">
    </div>
    <div>
        <span>Průměrná doba svícení za poslední týden:</span>
        

    </div>

    <div>
        <span>Přejmenovat místnost:</span><br/>
        <input id="newName" type="text" placeholder="Nový název"></input>
        <button id="renameRoom" type="button">Přejmenovat</button>
    </div>
</div>

<script src="/scripts/detail.js"></script>

</body>
</html>